.contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  color: var(--text-color-light);
}

.contact-form > label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  line-height: 32px;
  border-bottom: solid 1px gainsboro;
}

.contact-form input[type='text'] {
  flex: 1;
  margin-left: 16px;
  font-weight: 700;
}

.contact-form-avatar-container {
  margin-bottom: 24px;
}

.contact-form-avatar {
  padding: 4px 8px;
  font-size: 14px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  margin-right: auto;
  border: solid 1px transparent;
}

.contact-form-avatar:focus-within {
  border: solid 1px var(--primary-color-dark);
}

.contact-form-avatar:hover {
  background-color: var(--primary-color-dark);
}

.contact-form-avatar-name {
  font-size: 12px;
  margin-left: 12px;
}

.contact-form-error-message {
  color: var(--warning-color);
  font-weight: 700;
  margin-bottom: 12px;
}

.contact-form-buttons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 16px;
}
